/* Page is styled the same as the home page, we use the SAME
class names and values, go to LandingPage.css to change styling on both pages!*/

h1.manageSpots {
  padding-left: 2%;
  margin-top: -50px;
  margin-bottom: 30px;
}

.create-new-spot-manage-spots {
  margin-top: -20px;
  margin-left: 2.2%;
  border: 3px solid black;
  margin-bottom: 40px;
  /* color: teal; */
}

.separateUpdateDelete {
  display: inline-block;
  width: 10px;
}

.updateDeleteButtons {
  padding-top: 10px;
}

.update-button-user-spots {
  background-color: #464545;
  border: 3px solid black;
}

.delete-button-user-spots {
  background-color: #464545;
  border: 3px solid black;
}
