/* Page is styled the same as the home page, we use the SAME
class names and values, go to LandingPage.css to change styling on both pages!*/

h1.manageSpots {
  padding-left: 2%;
  margin-top: -50px;
  margin-bottom: 30px;
}

.createNewSpotButton {
  margin-top: -10px;
  margin-left: 2.2%;
  color: teal;
}

.separateUpdateDelete {
  display: inline-block;
  width: 10px;
}
