h1.manageSpots {
  padding-left: 2%;
  margin-top: -50px;
  margin-bottom: 30px;
}
/*
.createNewSpotButton {
  margin-left: 2%;
  margin-bottom: 20px;
} */

/* Page is styled the same as the home page, we use the SAME
class names and values, go to LandingPage.css to change styling on both pages!*/
