/* hide the menu when we click off the menu */
.hidden {
  display: none;
}

/* use pixel values instead of relative values because we want the logo and button to stay the same size on a resize of the viewport */
.logo {
  position: fixed;
  top: 0.5vw;
  left: 0.5vw;
  width: 40px;
}

.loginText {
  margin-top: 0px;
}

.signupText {
  margin-top: 0px;
}

/* style the profile button and the i tag (icon) within it */
/* make size in pixels because we want it to stay the same size even when the viewport gets smaller */
.profile-button i {
  font-size: 40px;
}
/* move the profile button slightly away from the top right corner of the screen */
.profile-button {
  transform: translate(-0.5vw, 0.5vw);
  cursor: pointer;
}

/* make the dropdown menu relative, removes the white bullets on the left of the login and signup elements */
.profile-dropdown {
  list-style: none;
  position: relative;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

/* when the user is loggedin, don't use the pointer clicker cursor */
.profile-dropdown.logged-in {
  cursor: default;
}

/* only have the grey background hover effect when the user isn't logged in */
.profile-dropdown.not-logged-in li:hover {
  background-color: lightgrey;
}

.profile-dropdown li {
  margin-bottom: 10px;
}

/* the logout button needs the pointer effect too */
.profile-dropdown li:last-child button {
  cursor: pointer;
}

/* Make the disabled button look ghosted out */
.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.demoLoginButton {
  background: none;
  border: none;
  color: teal;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  padding: 0;
}

.loginButton:disabled {
  cursor: default;
  color: black;
}

.loginButton:not(:disabled) {
  cursor: pointer;
  color: white;
}

.loginButton {
  font-weight: bold;
  position: relative;
  border: 3px solid black;
  /* shadow on bottom-right */
  box-shadow: 3px 3px 0px black;
}

.emailField {
  border: 3px solid black;
}

.usernameField {
  border: 3px solid black;
}

.firstNameField {
  border: 3px solid black;
}

.lastNameField {
  border: 3px solid black;
}

.passwordField {
  border: 3px solid black;
}

.confirmPasswordField {
  border: 3px solid black;
}

.signupButton {
  font-weight: bold;
  position: relative;
  border: 3px solid black;
  /* shadow on bottom-right */
  box-shadow: 3px 3px 0px black;
}

.signupButton:disabled {
  cursor: default;
  color: black;
}

.signupButton:not(:disabled) {
  cursor: pointer;
  color: white;
}

.errorMessage p {
  color: red;
  text-align: center;
  font-size: 20px;
}

.demoLoginButton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.navigation-container {
  /* Keep in top right of screen, even on scroll, use position: fixed */
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  /* Put the items in the container to the right side of the container */
  justify-content: flex-end;
  /* align items vertically */
  align-items: center;
}

.navbar {
  /* adds a grey line ABOVE the navbar now after we removed the ul and li elements... */
  border-bottom: 2px solid lightgrey;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* navbar was a tiny div with basically no height at the very top of the page */
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: white; */
  z-index: 1000; /* Ensure the navigation bar is above other content */
}

/* the .modal and .modal-overlay create the greyed out background when the user is on the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* also move the modal to the center of the screen using transform property! */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
