.hidden {
  display: none;
}

.logo {
  position: fixed;
  top: 0.5vw;
  left: 0.5vw;
  /* width: 3vw; */
  width: 40px;
}

/* style the profile button and the i tag (icon) within it */
/* make size in pixels because we want it to stay the same size even when the viewport gets smaller */
.profile-button i {
  font-size: 40px;
}
/* move the profile button slightly away from the top right corner of the screen */
.profile-button {
  transform: translate(-0.5vw, 0.5vw);
  cursor: pointer;
}

/* make the dropdown menu relative */
.profile-dropdown {
  list-style: none;
  position: relative;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

.profile-dropdown.logged-in {
  cursor: default;
}

.profile-dropdown.not-logged-in li:hover {
  background-color: lightgrey;
}

.profile-dropdown li {
  margin-bottom: 10px;
}

.profile-dropdown li:last-child button {
  cursor: pointer;
}

.navigation-container {
  /* Keep in top right of screen, even on scroll, use position: fixed */
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  /* Put the items in the container to the right side of the container */
  justify-content: flex-end;
  /* align items vertically */
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
