/* the .modal and .modal-overlay create the greyed out background when the user is on the modal */
.modal-review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* also move the modal to the center of the screen using transform property! */
.modal-review-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.star-text {
  margin-left: 8px;
  font-size: 16px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled-review-button {
  margin-top: 10px;
}

.star-rating-container {
  font-size: 24px;
}
