.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.errorMessages {
  color: red;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  flex: 1 0 100%; /* By default, labels take full width */
  margin-bottom: 10px;
}

label.city {
  flex: 1 0 60%;
}

label.state {
  flex: 1 0 0%;
}

label.side-by-side {
  flex: 1 0 40%;
}

label.price {
  position: relative;
}

label.price input {
  padding-left: 20px; /* Make space for the $ symbol */
}

label.price:before {
  content: "$";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

input,
textarea {
  width: 100%;
}

.separator {
  display: inline-block;
  margin-right: 5px;
}

.image-input {
  width: 100%;
  margin-bottom: 3%;
}

.create-spot-button {
  display: block;
  margin: 10px auto;
}
