.spotDetailContainer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1%;
  padding-top: 50px;
}

/* Location flexbox includes the city, state, country -> in that order */
.location {
  display: flex;
  align-items: center;
  padding-bottom: 2.5%;
}

/* Includes all the images (all 5) */
.images {
  display: flex;
  align-items: flex-start;
}

/* Styling for the large image on the left */
.largeImage {
  width: 39%;
  /* Adding dynamic height */
  height: 30vw;
  padding-bottom: 10px;
  background-size: cover;
  background-position: center;
}

/* Flex box containing all 4 of the smaller images */
.smallImages {
  display: flex;
  flex-wrap: wrap;
  width: 60%; /* half the width of the large image*/
  align-items: stretch;
}

/* Styling the individual small images */
.smallImage {
  width: 50%;
  height: 15vw;
  background-size: cover;
  background-position: center;
}

.contentContainer {
  display: flex;
  padding-bottom: 25px;
  border-bottom: 2px solid lightgrey;
  width: 99%;
}

/* total width of description and calloutInfoBox needs to be around 96% to match the images above */
.description {
  width: 59.4%;
}

.calloutInfoBoxContainer {
  width: 36%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

/* This is the call to action / where the reserve button is located */
.calloutInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3%;
}

.ratingPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1; /* Making sure price takes up the remaining space */
}

/* Make the "night" text not bolded */
.price span {
  font-weight: normal;
}

.stars {
  font-size: 14px;
  font-weight: bold;
}

.middleDot {
  font-size: 20px;
  font-weight: bold;
  /* margin: 0 5px; */
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2.5px;
}

.reviewCount {
  font-size: 14px;
  margin-top: 1px;
}

.hostedBy {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reserveButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #d70466;
  color: black;
  width: 100%;
}

.reserveButton:hover {
  background-color: #f5d078;
}

/**************** REVIEW STYLING ********************/

.reviewText {
  padding-bottom: 10px;
}

.reviewerName {
  font-weight: bold;
  padding-bottom: 10px;
}

.reviewDate {
  padding-bottom: 5px;
}
.reviewSummaryContainer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.reviewSummaryContainer .stars,
.reviewSummaryContainer .reviewCount {
  font-size: 18px;
  font-weight: bold;
}

.reviewSummaryContainer .middleDot {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2.5px;
}

/***** *****/

.postReviewButton {
  padding-bottom: 10px;
}
