/* Wraps all the content on the page so we can left align it */

.contentWrapperSpotDetails {
  max-width: 1000px;
  margin: auto;
  padding: 10px 0; /* 10 pixels of padding at the top and bottom */
}

/* Container for the entire component */
.spotDetailContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 0; /* 10 pixels of padding at the top and bottom */
}

/* Container for all images */
.images {
  display: flex;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 10px; /* 10 pixels of padding at the bottom */
}

/* Large image */
.largeImage {
  flex: 1;
  object-fit: cover;
  height: auto;
  max-height: 450px;
  width: auto;
  max-width: 50%;
  margin-right: 5px;
}

/* Container for 4 smaller images */
.smallImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  flex: 1;
}

/* Small images */
.smallImage {
  width: 100%;
  /* Roughly half the height of the max-height of the large-image, which is at 450px
  There's a 5 pixel gap, so it needs to be half of that off from 50% of the max height
  450 / 2 = 225 -> subtract 2.5 pixels to line images up */
  height: 222.5px;
  object-fit: cover;
}

/* Ensure aspect ratio is maintained */
.largeImage,
.smallImage {
  aspect-ratio: auto;
}

/*********** Everything not related to the images below **********************/

.calloutInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3%;
}

.location {
  display: flex;
  align-items: center;
  padding-bottom: 2.5%;
}

.contentContainer {
  display: flex;
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid lightgrey;
  width: 100%;
}

.description {
  width: 59.5%;
}

.calloutInfoBoxContainer {
  width: 36%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.ratingPriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
}

.price span {
  font-weight: normal;
}

.stars {
  font-size: 16px;
  font-weight: bold;
}

.middleDot {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2.5px;
}

.reviewCount {
  font-size: 16px;
  margin-top: 1px;
  font-weight: bolder;
}

.hostedBy {
  /* This align-items: left just aligned everything to the left properly ??? huh? */
  align-items: left;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reserveButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #d70466;
  color: black;
  width: 100%;
  font-weight: bold;
  border: 3px solid black;
}

.reserveButton:hover {
  background-color: #f5d078;
}

/**************** REVIEW STYLING ********************/

.reviewText {
  padding-bottom: 10px;
}

.reviewerName {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 20px;
}

.reviewDate {
  padding-bottom: 5px;
}
.reviewSummaryContainer {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.reviewSummaryContainer .stars,
.reviewSummaryContainer .reviewCount {
  font-size: 18px;
  font-weight: bold;
}

.reviewSummaryContainer .middleDot {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2.5px;
}

.post-review-button {
  background-color: #464545;
  border: 3px solid black;
}

.post-review-button-div {
  padding-top: 10px;
  padding-bottom: 10px;
}

.review .deleteReviewButton {
  padding-top: 0px;
  padding-bottom: 0px;
}
