.spotForm {
  max-width: 400px;
  max-height: 600px;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.errorMessages {
  color: red;
}

.errorMessage {
  color: red;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  flex: 1 0 100%; /* By default, labels take full width */
  margin-bottom: 10px;
}

label.city {
  flex: 1 0 60%;
}

label.state {
  flex: 1 0 0%;
}

label.side-by-side {
  flex: 1 0 40%;
}

label.price {
  position: relative;
  padding-left: 15px;
}

label.price input {
  padding-left: 5px; /* Make space for the $ symbol */
  width: calc(100% - 12px);
}

label.price:before {
  content: "$";
  font-size: 17px;
  padding-bottom: 1px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

input,
textarea {
  width: 100%;
  background-color: rgb(225, 243, 249);
  padding-left: 5px;
  border: 2px solid black;
}

.separator {
  display: inline-block;
  margin-right: 5px;
}

.image-input {
  width: 100%;
  margin-bottom: 3%;
}

.create-spot-button {
  display: block;
  margin: 10px auto;
  background-color: #d70466;
  border: 3px solid black;
}

.form-location-h2 {
  font-size: 16px;
}
