/* TODO Add site wide styles */

#root {
  margin-top: 200px;
  min-width: 300px;
}

button {
  background-color: black;
  color: white;
}

/* Exclude the profile button to have a black background color and text color of white */
.profile-button {
  background-color: inherit;
  color: inherit;
}

/* Give class of disabled button to buttons that have to be disabled */
.disabled-button:disabled {
  background: grey;
}
