body {
  font-family: Arial, sans-serif;
  background-color: #1b262c;
}

.signupText {
  text-align: center;
  color: white;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ebedef;
}

.emailField,
.usernameField,
.firstNameField,
.lastNameField,
.passwordField,
.confirmPasswordField {
  width: 94%;
  padding: 10px;
  margin-bottom: 20px;
}

.signupButton {
  background-color: #2ea44f;
  color: white;
  width: 100%;
  padding: 10px 20px;
  border: none;
}
